@use "../../../_theme.scss" as theme;

.todo-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px;
  

  &-even {
    background-color: theme.$evenColor;
  }

  &-odd {
    background-color: theme.$oddColor;
  }

  &-element {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &-information {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
